.header__genres-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 9px;
    justify-content: center;
    row-gap: 3px;
    margin-top: 8px;
    max-height: 30px;
    overflow: scroll;
}
.header__genres-btn {
    border: none;
    background-color: transparent;
    color: #8c8c8c78;
    &:hover,
    :focus {
        color: #ff6b0172;
        text-decoration: underline;
    }
}