.modal-team {
  padding: 0;
  height: 90vh;

  min-width: 280px;

  @media screen and (min-width: 768px) {
    min-width: 704px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 980px;
  }
}

.modal {
  &-list {
    padding: 0 20px 40px 20px;
    @media screen and (min-width: 768px) {
      padding: 0 65px 35px 65px;

      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1280px) {
      padding: 0 50px 35px 50px;
    &_item {
      width: calc((100% - 0 * 50px) / 1);
      max-height: 297px;
      @media screen and (min-width: 768px) {
        width: calc((100% - 1 * 50px) / 2);
        max-height: 322px;
      }
      @media screen and (min-width: 1280px) {
        width: calc((100% - 2 * 50px) / 3);
      }
    &_holder {
      max-height: 297px;
      @media screen and (min-width: 768px) {
        max-height: 322px;
      }

      margin-bottom: 10px;
      border-radius: 5%;

      overflow: hidden;
    &_image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    &_info {
      font-size: 20px;
      text-align: center;
      color: var(--color-main-black);

      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_icon {
      margin-left: 10px;
    }
