<header class="header header__container--is-home" id="header">
  <div class="container header__container">
    <include src="./partials/header-nav.html"></include>
    <form class="header__form" id="searchForm">
      <input
        class="header__form-input"
        name="input"
        type="text"
        placeholder="Movie search"
        data-input
      />

      <button class="header__form-submit" name="submit" type="submit">
        <svg class="img" width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>
<!--Кнопки пошуку по жанрам-->
    <ul class="header__genres-list">
      <!-- <li>
        <button class="header__genres-btn header__genres-btn--isActive">All</button>
      </li> -->
      <li>
        <button class="header__genres-btn">Action</button>
      </li>
      <li>
        <button class="header__genres-btn">Adventure</button>
      </li>
      <li>
        <button class="header__genres-btn">Animation</button>
      </li>
      <li>
        <button class="header__genres-btn">Comedy</button>
      </li>
      <li>
        <button class="header__genres-btn">Crime</button>
      </li>
      <li>
        <button class="header__genres-btn">Documentary</button>
      </li>
      <li>
        <button class="header__genres-btn">Drama</button>
      </li>
      <li>
        <button class="header__genres-btn">Family</button>
      </li>
      <li>
        <button class="header__genres-btn">Fantasy</button>
      </li>
      <li>
        <button class="header__genres-btn">History</button>
      </li>
      <li>
        <button class="header__genres-btn">Horror</button>
      </li>
      <li>
        <button class="header__genres-btn">Music</button>
      </li>
      <li>
        <button class="header__genres-btn">Mystery</button>
      </li>
      <li>
        <button class="header__genres-btn">Romance</button>
      </li>
      <li>
        <button class="header__genres-btn">Science Fiction</button>
      </li>
      <li>
        <button class="header__genres-btn">TV Movie</button>
      </li>
      <li>
        <button class="header__genres-btn">Thriller</button>
      </li>
      <li>
        <button class="header__genres-btn">War</button>
      </li>
      <li>
        <button class="header__genres-btn">Western</button>
      </li>
    </ul>

    <p class="header__message" data-alarmMessage>
      Search result not successful. Enter the correct movie name and repeat
    </p>
  </div>
</header>
