<div class="backdrop is-hidden" data-modal-team>
  <!--  is-hidden -->
  <div class="modal-wrapper modal-team">
    <button class="modal-close-btn" data-modal-close-team>
      <!-- X -->
      <svg class="modal-btn__icon" width="24px" height="24px">
        <use xlink:href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal_inner">
      <h2 class="modal_title">phoenix team</h2>
      <ul class="modal-list">
        <!-- Aliesia Zahorui -->
        <!-- #TODO add foto -->
        <li class="modal-list_item">
          <a
            target="_blank"
            class="modal-list_link"
            href="https://github.com/Ali-sia"
          >
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/team/Aliesia-Zahorui.jpg"
                alt="developer photo"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Team Lead</p>
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Aliesia Zahorui</span>
            </div>
          </a>
        </li>
        <!-- Liubov Rohachevska -->
        <li class="modal-list_item">
          <a
            target="_blank"
            class="modal-list_link"
            href="https://github.com/Liubov555"
          >
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/team/Liubov-Rohachevska.jpg"
                alt="developer photo"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Scrum Master</p>
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Liubov Rohachevska</span>
            </div>
          </a>
        </li>
        <!-- Artem Gorbachov -->
        <li class="modal-list_item">
          <a
            target="_blank"
            class="modal-list_link"
            href="https://github.com/Artem0521"
          >
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images//team/Artem-Gorbachov.jpg"
                alt="developer photo"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Developer</p>
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Artem Gorbachov</span>
            </div>
          </a>
        </li>
        <!-- Volodymyr Zastavniuk -->
        <li class="modal-list_item">
          <a
            target="_blank"
            class="modal-list_link"
            href="https://github.com/Volodymyr-Zastavniuk"
          >
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/team/Volodymyr-Zastavniuk.jpg"
                alt="developer photo"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Developer</p>
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Volodymyr Zastavniuk</span>
            </div>
          </a>
        </li>
        <!-- Svitlana Tymoshevska -->
        <li class="modal-list_item">
          <a
            target="_blank"
            class="modal-list_link"
            href="https://github.com/SvitlanaTymoshevska"
          >
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/team/Svitlana-Tymoshevska.jpg"
                alt="developer photo"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Developer</p>
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Svitlana Tymoshevska</span>
            </div>
          </a>
        </li>
        <!-- Oleksandr Rud -->
        <li class="modal-list_item">
          <a
            target="_blank"
            class="modal-list_link"
            href="https://github.com/OleksandrR61"
          >
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/team/Oleksandr-Rud.jpg"
                alt="developer photo"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Developer</p>
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Oleksandr Rud</span>
            </div>
          </a>
        </li>
        <!-- Natalia Karpova -->
        <li class="modal-list_item">
          <a
            target="_blank"
            class="modal-list_link"
            href="https://github.com/KL-ML"
          >
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/team/Natalia-Karpova.jpg"
                alt="developer photo"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Developer</p>
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Natalia Karpova</span>
            </div>
          </a>
        </li>
        <!-- Tatiana Romashko -->
        <!-- #TODO add foto -->
        <li class="modal-list_item">
          <a
            target="_blank"
            class="modal-list_link"
            href="https://github.com/Tatiana-Romashko"
          >
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/team/Tatiana-Romashko.jpg"
                alt="developer photo"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Developer</p>
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Tatiana Romashko</span>
            </div>
          </a>
        </li>
        <!-- Maksym Zhoglyk -->
        <li class="modal-list_item">
          <a
            target="_blank"
            class="modal-list_link"
            href="https://github.com/Maksim6767"
          >
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/team/Maksym-Zhoglyk.jpg"
                alt="developer photo"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Developer</p>
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Maksym Zhoglyk</span>
            </div>
          </a>
        </li>
        <!-- Artem Kryatov -->
        <li class="modal-list_item">
          <a
            target="_blank"
            class="modal-list_link"
            href="https://github.com/Temchic21"
          >
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/team/Artem-Kryatov.jpg"
                alt="developer photo"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Developer</p>
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Artem Kryatov</span>
            </div>
          </a>
        </li>
        <!-- Olena Kychata -->
        <li class="modal-list_item">
          <a
            target="_blank"
            class="modal-list_link"
            href="https://github.com/KychataOlena"
          >
            <div class="modal-list_holder">
              <img
                class="modal-list_image"
                src="./images/team/Olena-Kychata.jpg"
                alt="developer photo"
              />
              <div class="modal-list_overlay">
                <div class="modal-list_text">
                  <p>Developer</p>
                </div>
              </div>
            </div>
            <div class="modal-list_info">
              <span class="modal-list_caption">Olena Kychata</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
